
@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Dancing+Script&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

$color-primary: #000059;
$color-white: #ffffff;
$font-standard: "IBM Plex Sans";
$color-secondary: #00bfff;

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.flex-container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20vh;
    padding: 20px;

    #pglasses
    {
        height: 20vh;
        width: 140px;
    }

    h1
    {
        font-size: 115px;
        font-family: "Boogaloo";
        font-weight: 200;
        color: $color-primary;
        margin-right: 800px;
    }

    button
    {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 20px 40px;
        margin-left: -200px;
        border-radius: 5px;
        background-color:$color-white;
        border: solid 1.5px;
        border-color: $color-primary;
        color: $color-primary;
        font-weight: 900;
        font-family: $font-standard;
        font-size: 30px;
    }
}

.slogan-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 30vh;

    .slogan{
        font-family: "Nunito";
        font-weight: 800;
        font-size: 60px;
        text-align: center;
        color: $color-secondary;
    }
}

.mobile-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;

    .mobile{
        display: inline-block;
        height: 35vh;
    }
}

.info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $font-standard;
    height: 35vh;
    margin: 20px;

    .pr{
        height: 15vh;
        padding: 40px;
        font-size: 40px;
        text-align: center;
        color: $color-primary;
    }
    
    .Dad{
        height: 15vh;
        padding: 40px;
        font-size: 30px;
        font-weight: 900;
        color: $color-secondary;
        text-align: center;
    }

    p{
        height: 20vh;
        padding: 10px;
        font-size: 20px;
        text-align: center;
        color: $color-primary;

    }
}


.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin: 20px;

    button{
        padding: 20px 80px;
        font-family: $font-standard;
        font-size: 20px;
        font-weight: 900;
        border-radius: 5px;
        border-color: $color-primary;
        color: $color-white;
        background-color: $color-primary;
    }
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-standard;
    color: $color-primary;
    padding:40px;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 40vh;
    margin: 0 auto;

    .penguin-one{
        height: 10vh;
        font-family: $font-standard;
        font-size: 18px;

        img{
            display: flex;
            height: 10vh;
            align-items: flex-start;
        }
    }

    .penguin-two{
        height: 10vh;
        font-family: $font-standard;

        img{
            height: 10vh;
    
        }
    }

    .penguin-three{
        height: 10vh;
        font-family: $font-standard;

        img{
            height: 10vh;
        }
    }

    .penguin-four{
        height: 10vh;
        font-family: $font-standard;

        img{
            height: 10vh;
        }
    }
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(247, 247, 160, 0.315);

    h1{
        padding: 30px;
    }
}
