@import url("https://fonts.googleapis.com/css2?family=Boogaloo&family=Dancing+Script&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
  padding: 20px;
}
.flex-container #pglasses {
  height: 100%;
  width: 140px;
}
.flex-container h1 {
  font-size: 115px;
  font-family: "Boogaloo";
  font-weight: 200;
  color: #000059;
  margin-right: 80px;
}
.flex-container button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px 40px;
  margin-right: 20px;
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 1.5px;
  border-color: #000059;
  color: #000059;
  font-weight: 900;
  font-family: "IBM Plex Sans";
  font-size: 30px;
}

.slogan-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 30vh;
}
.slogan-container .slogan {
  font-family: "Nunito";
  font-weight: 800;
  font-size: 60px;
  text-align: center;
  color: #00bfff;
}

.mobile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}
.mobile-container .mobile {
  display: inline-block;
  height: 35vh;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "IBM Plex Sans";
  height: 35vh;
  margin: 20px;
}
.info-container .pr {
  height: 15vh;
  padding: 40px;
  font-size: 40px;
  text-align: center;
  color: #000059;
}
.info-container .Dad {
  height: 15vh;
  padding: 40px;
  font-size: 30px;
  font-weight: 900;
  color: #00bfff;
  text-align: center;
}
.info-container p {
  height: 20vh;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  color: #000059;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin: 20px;
}
.button-container button {
  padding: 20px 80px;
  font-family: "IBM Plex Sans";
  font-size: 20px;
  font-weight: 900;
  border-radius: 5px;
  border-color: #000059;
  color: #ffffff;
  background-color: #000059;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "IBM Plex Sans";
  color: #000059;
  padding: 40px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 40vh;
  margin: 0 auto;
}
section .penguin-one {
  height: 10vh;
  font-family: "IBM Plex Sans";
  font-size: 18px;
}
section .penguin-one img {
  display: flex;
  height: 10vh;
  align-items: flex-start;
}
section .penguin-two {
  height: 10vh;
  font-family: "IBM Plex Sans";
}
section .penguin-two img {
  height: 10vh;
}
section .penguin-three {
  height: 10vh;
  font-family: "IBM Plex Sans";
}
section .penguin-three img {
  height: 10vh;
}
section .penguin-four {
  height: 10vh;
  font-family: "IBM Plex Sans";
}
section .penguin-four img {
  height: 10vh;
}/*# sourceMappingURL=styles.css.map */