@use "./variables" as *;

.header {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px;
    border-color: $color-black;
    width: 230px;
    background-color: $color-background;
    margin: 15px auto;
}
