@use "./variables" as *;

.header {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    height: 30vh;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex;
    margin: 15px auto;
    border: solid 2px;
    border-color: $color-black;
    background-color: $color-background;
}

