*{
    margin: 0;
    padding: 0;
}

header{
    height: 10vh;
    display: flex;
    justify-content: center;
    background-color: rgb(140, 190, 235);
}

nav{
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navg{
    background-color: rgba(157, 238, 233, 0.452);
    height: 100vh;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(10, 179, 167);
    font-weight: 200;
}

.main-cont{
    background-color: rgba(244, 248, 248, 0.452);
    height: 100vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(1, 8, 8, 0.671);
    font-weight: 200;
}

.ads{
    background-color: rgba(157, 243, 183, 0.452);
    height: 100vh;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(6, 145, 48) ;
    font-weight: 200;
}

@media screen and (min-width: 768px) {
    body{
        width: 100%;
    }
    
}
